node_modules
temp
build
dist
.DS_Store

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# VIM
Session.vim

# Ignore everything in output folder
output/*
# But don't ignore solution3_Proposal_handcrafted.fc
!output/solution3_Proposal_handcrafted.fc
